body {
    background: black;
}

.container, .top-section, .bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-section {
    flex-direction: column;
}


.running-scores {
    display: flex;
}

.player-score, .computer-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    padding: 30px;
}

/**next focus on buttons